### 1 . Problem 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
### Salary(Lakhs) : Tax(%)

##### Below 5 : 0%
##### 5-10 : 10%
##### 10-20 : 20%
##### aboove 20 : 30%

In [1]:
# HRA(10%), DA(5%), PF(3%)
Salary_annum = eval(input("Enter your CTC in lakh eg 1 is 1 lakh "))

if Salary_annum <= 5 :
    salary = (Salary_annum - (Salary_annum*0.1 + Salary_annum*0.05 + Salary_annum*0.03))/12*1e5
    print("In hand salary with CTC below 5 ",salary)
elif Salary_annum > 5 and Salary_annum<10:
    salary = (Salary_annum - (Salary_annum*0.1 + Salary_annum*0.05 + Salary_annum*0.03 + Salary_annum*0.1))/12*1e5
    print("In hand salary with CTC below 5-10 ",salary)
elif Salary_annum > 10 and Salary_annum<20:
    salary = (Salary_annum - (Salary_annum*0.1 + Salary_annum*0.05 + Salary_annum*0.03 + Salary_annum*0.2))/12*1e5
    print("In hand salary with CTC below 10-20 ",salary)
else:
    salary = (Salary_annum - (Salary_annum*0.1 + Salary_annum*0.05 + Salary_annum*0.03 + Salary_annum*0.3))/12*1e5
    print("In hand salary with CTC below aboove 20 ",salary)

Enter your CTC in lakh eg 1 is 1 lakh  6

In hand salary with CTC below 5-10  36000.00000000001

In [24]:
# Constants for deductions
HRA_PERCENT = 0.10  # 10%
DA_PERCENT = 0.05   # 5%
PF_PERCENT = 0.03   # 3%

# Input: Annual Salary (CTC in lakhs)
Salary_annum = eval(input("Enter your CTC in lakh: "))

# Calculate in-hand salary based on CTC brackets
if Salary_annum <= 5:
    deductions = Salary_annum * (HRA_PERCENT + DA_PERCENT + PF_PERCENT)
    in_hand_salary = (Salary_annum - deductions) / 12 * 1e5
    print(f"In-hand monthly salary with CTC below or equal to 5 Lakh: {in_hand_salary:.2f} INR")
elif 5 < Salary_annum <= 10:
    deductions = Salary_annum * (HRA_PERCENT + DA_PERCENT + PF_PERCENT + 0.10)  # Additional 10%
    in_hand_salary = (Salary_annum - deductions) / 12 * 1e5
    print(f"In-hand monthly salary with CTC between 5-10 Lakh: {in_hand_salary:.2f} INR")
elif 10 < Salary_annum <= 20:
    deductions = Salary_annum * (HRA_PERCENT + DA_PERCENT + PF_PERCENT + 0.20)  # Additional 20%
    in_hand_salary = (Salary_annum - deductions) / 12 * 1e5
    print(f"In-hand monthly salary with CTC between 10-20 Lakh: {in_hand_salary:.2f} INR")
else:
    deductions = Salary_annum * (HRA_PERCENT + DA_PERCENT + PF_PERCENT + 0.30)  # Additional 30%
    in_hand_salary = (Salary_annum - deductions) / 12 * 1e5
    print(f"In-hand monthly salary with CTC above 20 Lakh: {in_hand_salary:.2f} INR")

Enter your CTC in lakh: 24
In-hand monthly salary with CTC above 20 Lakh: 104000.00 INR

### Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [31]:
# To form triangle sum of all angle should be 180 and angle must be positive angle

angle1 = int(input("Enter 1st Angle "))
angle2 = int(input("Enter 2nd Angle "))
angle3 = int(input("Enter 3rd Angle "))
if angle1+angle2+angle3 == 180 and angle1>0 and angle2>0 and angle3>0:
    print("Angle is triangle")
else:
    print("Not triangle")

Enter 1st Angle 30
Enter 2nd Angle 60
Enter 3rd Angle 90
Angle is triangle

### Problem 3: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [33]:
cost_price = int(input("Enter cost price "))
selling_price = int(input("Enter selling price "))

if selling_price > cost_price:
    print("We are in profit")
elif selling_price < cost_price:
    print("We are in loss")
else:
    print("We are selling at cost price")

Enter cost price 20000
Enter selling price 10000
We are in loss

### Problem 4: Write a menu-driven program -

1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [53]:
import math
menu = input("""Hi! Please Enter Your Requirement
1. cm to ft
2. km to miles
3. USD to INR
4. exit
""")
if menu == "1":
    cm = eval(input("Enter cm value "))
    print("ft value is",0.0332*cm)
elif menu == "2":
    km = eval(input("Enter km value "))
    print("distance in miles is",0.62*km)
elif menu == "3":
    USD = eval(input("Enter Amt in USD "))
    print("INR value is",80*USD)
else:
    print("Exit")

Hi! Please Enter Your Requirement
1. cm to ft
2. km to miles
3. USD to INR
4. exit
4
Exit

### Problem 5 - Exercise 12: Display Fibonacci series up to 10 terms.

Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [55]:
first_num = 0
sec_num = 1
for i in range(10):
    print(first_num)
    next_num = first_num + sec_num
    first_num = sec_num
    sec_num = next_num

0
1
1
2
3
5
8
13
21
34

### Problem 6 - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [57]:
n = int(input("Enter no to find Factorial "))
fact = 1
for i in range(1,n+1):
    fact*=i
    
print(fact)

Enter no to find Factorial 5
120

### Problem 7 - Reverse a given integer number.

Example:
Input: 76542
Output: 24567

In [62]:
num = int(input("Enter you number "))
rev = 0
while num > 0 :
    last = num%10
    rev = rev*10 + last
    num//= 10
print(rev)

Enter you number 3456
6543

### Problem 8: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem. eg input : 30 output : 276

In [8]:
sum1 = 0
n = int(input("Enter you number "))
for i in range(0,n+1):
    if i%5==0:
        continue
    else:
        sum1+=i
        
    if sum1>300:
        sum1 = sum1-i
        break
print(sum1)

Enter you number 30
276

In [18]:
sum1 = 0
n = int(input("Enter your number: "))

# Start from 1 and iterate up to n
i = 1
while i <= n:
    if i % 5 == 0:
        i += 1  # Skip numbers divisible by 5
        continue
    
    if sum1 + i > 300:
        break  # Stop calculation if sum exceeds 300
    
    sum1 += i
    i += 1  # Move to the next number

print(sum1)

Enter your number: 30
276

In [21]:
n = int(input("Enter your no "))
sum0 = 0 
i = 1 
while i <= n:
    if i % 5 ==0:
        i+=1 
        continue
    else:
        sum0+=i
        i+=1
        
    if sum0+i > 300:
        break
        
print(sum0)

Enter your no 50
276

# Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [28]:
sum0 = 0 
count = 0
while True:
    num = int(input("Enter your number "))
    count+=1
    if num == 0:
        avg = sum2/(count-1)
        break
    else:
        sum0 += num
        
print(sum0)
print(avg)

Enter your number 1
Enter your number 2
Enter your number 3
Enter your number 4
Enter your number 5
Enter your number 6
Enter your number 7
Enter your number 8
Enter your number 9
Enter your number 0
45
5.0

# Problem 9: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [32]:
l = []
for i in range(2000,3200+1):
    if i % 7 ==0 and i % 5 != 5:
        l.append(str(i))
print(",".join(l))

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199

In [33]:
for i in range(2000,3200+1):
    if i % 7 ==0 and i % 5 != 5:
        print(i,end=",")

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199,

# Problem 10: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [53]:
l1 = []
for i in range(1000,3000+1):
    flag = True
    curr = i
    
    while curr>0:
        num = curr%10
        if num%2 == 0: # checking no is even 
            curr = curr//10
        else:
            flag = False
            break
    if flag:
        l1.append(str(i))
",".join(l1)

'2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888'

# Problem 11: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.

The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
The numbers after the direction are steps.

! means robot stop there.
Please write a program to compute the distance from current position after a sequence of movement and original point.

If the distance is a float, then just print the nearest integer.
Example:

Input:

UP 5
DOWN 3
LEFT 3
RIGHT 2
!
Output:

2

In [70]:
import math

Pxo = 0
Pyo = 0

Pox = 0
Poy = 0


                  
while True :
    direction = input("""
    1. Up
    2. Down
    3. Left
    4. Right
    5. ! for Stop
    """)
    
    if direction == "1":
        val = eval(input("Enter steps in upword direction "))
        Pox+=val
    elif direction == "2":
        val = eval(input("Enter steps in upword direction "))
        Pox-=val
    elif direction == "3":
        val = eval(input("Enter steps in upword direction "))
        Poy-=val
    elif direction == "4":
        val = eval(input("Enter steps in upword direction "))
        Poy+=val
    elif direction == "5":
        break
    else:
        print("Please enter valid input")
        
distance = ((Pox - Pxo)**2 + (Poy - Pyo)**2)**0.5
if distance - int(distance) > 0.5:
    distance = math.ceil(distance)
else:
    distance = math.floor(distance)

print(distance)

    1. Up
    2. Down
    3. Left
    4. Right
    5. ! for Stop
    1
Enter steps in upword direction 1

    1. Up
    2. Down
    3. Left
    4. Right
    5. ! for Stop
    2
Enter steps in upword direction 2

    1. Up
    2. Down
    3. Left
    4. Right
    5. ! for Stop
    4
Enter steps in upword direction 4

    1. Up
    2. Down
    3. Left
    4. Right
    5. ! for Stop
    3
Enter steps in upword direction 2

    1. Up
    2. Down
    3. Left
    4. Right
    5. ! for Stop
    5
2

In [69]:
# Write code here
pos = [0,0]
while True:
    s = input('Enter the robot path')
    if s == '!':
        break
    direction = s.split()[0]
    steps = int(s.split()[1])

    if direction == 'UP':
        pos[1] = pos[1] + steps
    elif direction == 'DOWN':
        pos[1] = pos[1] - steps
    elif direction == 'LEFT':
        pos[0] = pos[0] - steps
    elif direction == 'RIGHT':
        pos[0] = pos[0] + steps
    else:
        pass

print('new pos',pos)
print((pos[0]**2 + pos[1]**2)**0.5)

Enter the robot pathUp 1
Enter the robot pathdown 2
Enter the robot pathright 4
Enter the robot pathleft 2
Enter the robot path!
new pos [0, 0]
0.0

# Problem 12:Write a program to print whether a given number is a prime number or not

In [129]:
num = int(input())
flag = True
if num < 2 :
    flag = False
    
for i in range(2,num):
    if num%i==0:
        flag = False
        
if flag:
    print("Prime")
else:
    print("Not Prime")

9
Not Prime

In [111]:
def is_prime(num):
    # Prime numbers are greater than 1
    if num <= 1:
        return False
    # Check for factors
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Example usage:
number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 4
4 is not a prime number.

In [112]:
n = int(input("Enter a number: "))
is_prime = n > 1 and all(n % i != 0 for i in range(2, int(n**0.5) + 1))
print(f"{n} is {'a prime number' if is_prime else 'not a prime number'}")

Enter a number: 4
4 is not a prime number

# Problem 13:Print all the Armstrong numbers in a given range.

Range will be provided by the user
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [134]:
upper_range = int(input("Enter upper range "))
lower_range = int(input("Enter Lower range "))
for i in range(upper_range,lower_range+1):
    sum3 = 0
    temp = i
    while temp > 0:
        sum3 = sum3 + (temp%10)**3
        temp = temp//10
        
    if sum3 == i:
        print(i)

Enter upper range 0
Enter Lower range 500
0
1
153
370
371
407

In [135]:
upper_range = int(input("Enter upper range "))
lower_range = int(input("Enter Lower range "))
for i in range(upper_range,lower_range+1):
    str_i = str(i)
    no_digit = len(str_i)
    
    sum_of_power = sum( int(digit)**no_digit for digit in str_i)
    
    if sum_of_power == i:
        print(i)

Enter upper range 1
Enter Lower range 500
1
2
3
4
5
6
7
8
9
153
370
371
407

# Problem 14:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:
H = 9 , M = 0
Output:
90
Explanation:
The minimum angle between hour and minute hand when the time is 9 is 90 degress.

In [142]:
# 12hrs = 360 degree >> 1hr = 30 degree movement of hr hand 
# 60min = 360 degree >> 1 min = 6 degree movement of minute hand 
# 1hr = 30 degree = 60 min ie 1 min = 0.5 degree movement of hr hand

hr = int(input("Enter hours "))
Min = int(input("Enter minutes "))

if (hr < 0 or Min < 0 or hr > 12 or Min > 60):
    print('Wrong input')

hr_angle = 30*hr + 0.5*Min
Min_angle = 6*Min
angle = abs(hr_angle-Min_angle)

if angle > 180:
    print(360-angle)
else:
    print(angle)

Enter hours 13
Enter minutes 10
Wrong input
25.0

# Problem 15:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.