# Tuple

Q1: Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.

Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]

In [16]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
set1 = set()
res = []
for i in test_list:
    set1.add(i[0])
for i in set1:
    res.append([i])
    for val in test_list:
        if val[0] == i:
            res[-1].append(val[1])
list(map(tuple,res))

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [20]:
test_list = [(5, 6), (5,7,0,0,9), (5, 8), (6, 10), (7, 13)] 
set1 = set()
res = []
for i in test_list:
    set1.add(i[0])
for i in set1:
    res.append([i])
    

    for val in test_list:
        if val[0] == i:
            res[-1].extend(val[1:])
list(map(tuple,res))

[(5, 6, 7, 0, 0, 9, 8), (6, 10), (7, 13)]

Q2: Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.
For eg.

The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)

In [31]:
tup = (1, 5, 7, 8, 10)
li = []
for i in range(len(tup)):
    if i == 0:
        li.append((tup[i]*tup[i+1]))
    elif i == -1 or i ==len(tup)-1 :
        li.append(tup[i]*tup[i-1])
    else:
        li.append((tup[i]*tup[i-1])+(tup[i]*tup[i+1]))
tuple(li)

(5, 40, 91, 136, 80)

Q3: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index

t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same

In [2]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)
if len(t1) == len(t2):
    flag = True
    for i in range(len(t1)):
        if t1[i] == t2[i]:
            flag = True
        else:
            flag = False
    if flag:
        print("t1 and t2 are same")
    else:
        print("t1 and t2 are not same")    
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

In [1]:
t1 = (1,2,3,0)
t2 = (1,2,3,0,0)
if len(t1) == len(t2):
    flag = True
    for i in range(len(t1)):
        if t1[i] == t2[i]:
            flag = True
        else:
            flag = False
    if flag:
        print("t1 and t2 are same")
    else:
        print("t1 and t2 are not same")    
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

In [3]:
t1 = (1,2,3,0)
t2 = (1,2,3,0)
if len(t1) == len(t2):
    flag = True
    for i in range(len(t1)):
        if t1[i] == t2[i]:
            flag = True
        else:
            flag = False
    if flag:
        print("t1 and t2 are same")
    else:
        print("t1 and t2 are not same")    
else:
    print("t1 and t2 are not same")

t1 and t2 are same

Q4: Count no of tuples, list and set from a list
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
Output:

List-2
Set-2
Tuples-1

In [7]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
List = 0
Set = 0 
Tuples = 0
for i in list1:
    if type(i) == list:
        List+=1
    elif type(i) == set:
        Set+=1
    else:
        Tuples+=1
print("List-",List)
print("Set-",Set)
print("Tuples-",Tuples)

List- 2
Set- 2
Tuples- 1

Q5: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print No such candidate

Input:

Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
Output

('Manohar', 'B.tech', 'Python', '2022')

In [11]:
n = int(input("No of student record "))
student = []
for i in range(n):
    student.append([])
    input("Enter details of student-")
    for j in range(4):
        if j == 0:
            student[-1].append(input("Enter student name-"))
        elif j == 1:
            student[-1].append(input("Enter Higher Education-"))
        elif j == 2:
            student[-1].append(input("Enter Primary Skill-"))
        elif j == 3:
            student[-1].append(input("Enter Year of Graduation-"))

student_tup = list(map(tuple,student))
print(student_tup)
higher_edu = input("Enter required higher education ")
primary_skill = input("Enter required primary skill ")
Year_of_gradu = input("Enter required Year of graduation ")   

flag = False
for stud in student_tup:
    if stud[1] == higher_edu and stud[2] == primary_skill and stud[3] == Year_of_gradu:
        print("Candidate {} match all required criteria >> {}".format(stud[0],stud[1:]))
        flag = True

if flag == False:
    print("No such candidate")

No of student record  2
Enter details of student- 1
Enter student name- Mahesh
Enter Higher Education- BE
Enter Primary Skill- Python
Enter Year of Graduation- 2019
Enter details of student- 2
Enter student name- Dipali
Enter Higher Education- PHD
Enter Primary Skill- c++
Enter Year of Graduation- 2022

[('Mahesh', 'BE', 'Python', '2019'), ('Dipali', 'PHD', 'c++', '2022')]

Enter required higher education  PHD
Enter required primary skill  c++
Enter required Year of graduation  2022

Candidate Dipali match all required criteria >> ('PHD', 'c++', '2022')

In [15]:
n = int(input("No of student record "))
student = []
for i in range(n):
    print("Enter details of",i+1,"applicant:")
    name = input("Enter Name: ")
    higher_ed = input("Enter higher education: ")
    primary_skill = input("Enter primary skill: ")
    yog = input("Enter Year of Graduation: ")

    student.append((name,higher_ed,primary_skill,yog))
student       
     
higher_edu = input("Enter required higher education ")
primary_skill = input("Enter required primary skill ")
Year_of_gradu = input("Enter required Year of graduation ")   

flag = False
for stud in student:
    if stud[1] == higher_edu and stud[2] == primary_skill and stud[3] == Year_of_gradu:
        print("Candidate {} match all required criteria >> {}".format(stud[0],stud[1:]))
        flag = True

if flag == False:
    print("No such candidate")

No of student record  2

Enter details of 1 applicant:

Enter Name:  Mahesh
Enter higher education:  BR
Enter primary skill:  Python
Enter Year of Graduation:  2019

Enter details of 2 applicant:

Enter Name:  Dilip
Enter higher education:  BE
Enter primary skill:  DS
Enter Year of Graduation:  2025
Enter required higher education  BE
Enter required primary skill  DS
Enter required Year of graduation  2025

Candidate Dilip match all required criteria >> ('BE', 'DS', '2025')

# Set

Q1: Write a program to find set of common elements in three lists using sets.
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]

In [17]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
set1 = set(ar1).intersection(ar2,ar3)
list(set1)

[80, 20]

Q2: Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.
Input:

Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
Output:

No of unique vowels-6

In [22]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels = "AEIOUaeiou"
print("No of unique vowels-",len({i for i in Str1 if i in vowels}))

No of unique vowels- 6

Q3: Write a program to Check if a given string is binary string or not.
A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No

In [24]:
string = input("Enter string ")
print("string is binary") if len(set(string)) == 2 else print("not binary string")

Enter string  Campusx

not binary string

Q4: find union of n arrays.
Example 1:

Input:
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
Output:

[1, 2, 3, 4, 5, 6, 7, 9]

In [27]:
arr = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
list({j for i in arr for j in i})

[1, 2, 3, 4, 5, 6, 7, 9]

In [29]:
s = set()
for i in arr:
    s.update(i)
list(s)

[1, 2, 3, 4, 5, 6, 7, 9]

Q5: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using list-comprehension.
Example 1:

Input:

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
Output:

[9, 10, 4, 5]

In [34]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
[i for i in lst1 if i in lst2]

[4, 5, 9, 10]

# Dictionary

Q1: Key with maximum unique values
Given a dictionary with values list, extract key whose value has most unique values.

Example 1:

Input:

test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
Output:

CampusX

In [46]:
d = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
d1 = {i:len(set(d[i])) for i in d }
for i in d1:
    if d1[i] == max(d1.values()):
        print(i)

CampusX

In [48]:
d = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
d1 = {i:len(set(d[i])) for i in d }
for i in d1:
    if d1[i] == max(d1.values()):
        print(i)

Best

In [55]:
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
max_val = 0
key = ""
for i in test_dict:
    if max_val < len(set(test_dict[i])):
        max_val = len(set(test_dict[i]))
        key = i
key

'Best'

Q2: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.
Example 1:

Input:

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
Output:

CampusX is the best channel for Data-Science students.
Example 2:

Input:

test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
Output:

CampusX best for DS students.

In [63]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
for i in repl_dict:
    if i in test_str:
        test_str = test_str.replace(i,repl_dict[i])
test_str

'CampusX is the best channel for Data-Science students.'

In [64]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
for i in repl_dict:
    if i in test_str:
        test_str = test_str.replace(i,repl_dict[i])
test_str

'CampusX best for DS students.'

Q3: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.
Example 1:

Input:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
Output:
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

Example 2:
Input:
test_list = ["CampusX", 10]
key_list = ["name", "id"]
Output:
[{'name': 'CampusX', 'id': 10}]

In [87]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]
l1 = []

for i in test_list:
    if type(i) == str:
        l1.append({key_list[0]:i})
    elif type(i) == int:
        l1[-1].update({key_list[1]:i})
l1

[{'name': 'CampusX', 'id': 10}]

In [92]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
l1 = []
for i in test_list:
    if type(i) == str:
        l1.append({key_list[0]:i})
    elif type(i) == int:
        l1[-1].update({key_list[1]:i})
l1

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [90]:
test_list = ["DataScience", 3, "is", 8,"my",9]
key_list = ["name", "id"]
n = len(test_list)

res = []
for i in range(0,n,2):
  res.append({key_list[0]: test_list[i],key_list[1]:test_list[i+1]})

print(res)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}, {'name': 'my', 'id': 9}]

Q4: Convert a list of Tuples into Dictionary.
Example 1:

Input:

[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
Output:

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
Example 2:

Input:

[('A', 1), ('B', 2), ('C', 3)]
Output:

{'A': [1], 'B': [2], 'C': [3]}

In [102]:
tup_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
d = {}
for i,j in tup_list:
  d[i] = [j]
d

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

In [99]:
tup_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
d = {}
for i in tup_list:
    l = []
    l.append(i[1])
    d[i[0]] = l
d

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

Q5: Sort Dictionary key and values List.
Example 1:

Input:

{'c': [3], 'b': [12, 10], 'a': [19, 4]}
Output:

{'a': [4, 19], 'b': [10, 12], 'c': [3]}
Example 2:

Input:

{'c': [10, 34, 3]}
Output:

{'c': [3, 10, 34]}

In [106]:
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
d1 = {}
for i in sorted(d):
    d1[i] = sorted(d[i])
d1

{'a': [4, 19], 'b': [10, 12], 'c': [3]}