### Problem 1 - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

In [ ]:
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [4]:
for i in range(5,0,-1):
    for j in range(i):
        print(i-j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [7]:
for i in range(1,6):
    print("* "*i)
for i in range(4,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
    *
  * * *
* * * * *

In [16]:
n = 4
for i in range(1,6):
    if i%2 == 1:
        print(" "*n + " *"*i)
    n-=1

     *
   * * *
 * * * * *

In [ ]:
1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [22]:
for i in range(1,6):
    n = 0
    for j in range(1,i+1):
        print(i-n,end=" ")
        n+=1
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# Problem 5: Write a Python Program to Find the Sum of the Series till the nth term:

1 + x^2/2 + x^3/3 + â€¦ x^n/n
n will be provided by the user

In [34]:
n = int(input("Enter number "))
res = 0
for i in range(1,n+1):
    term = 10**i
    res = res + term/i
    
print(res)

Enter number 5
22893.333333333332

In [26]:
x = 10
n = 5

sum1 = 1
s = ''
print('1 + ',end='')
for i in range(2,n+1):
    sum1 = sum1 + x**i/i
    s = s + 'x^{}/{} +'.format(i,i)
print(s[:-1])
print(sum)

1 + x^2/2 +x^3/3 +x^4/4 +x^5/5
22884.333333333332

# Problem 6: The natural logarithm can be approximated by the following series.

In [39]:
n = int(input())
x = int(input())
res = 0
for i in range(1,n+1):
    term = (1/i)*((x-1)/x)**i
    res +=term
    
print(res)

5
10
1.8301230000000004

# Problem 7 - Find the sum of the series upto n terms.
# Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

In [49]:
n = int(input())
l1 = []
for i in range(1,n+1):
    if i < (n):
        print("2"*i,end="+")
    else:
        print("2"*i)
    l1.append(int("2"*i))
sum(l1)

5
2+22+222+2222+22222

24690

# Problem 8: Write a program to print all the unique combinations of 1,2,3 and 4

In [50]:
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for m in range(1,5):
                print(i,j,k,m)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

# Problem 9: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [51]:
bin(27)

'0b11011'

In [56]:
num = int(input())
binary = []
while num>0:
    binary.append(str(num%2))
    num//=2
print(binary)
"".join(binary)

3
['1', '1']

'11'

### Problem 10: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [61]:
num1 = int(input())
num2 = int(input())
if num1 > num2:
    greater = num1
else:
    greater = num2

while True:
    if greater%num1 == 0 and greater%num2 == 0:
        lcm = greater
        break
    else:
        greater+=1
print(lcm)

10
5
10

In [65]:
# Code here
x = int(input('enter 1st number'))
y = int(input('enter 2nd number'))

if x<y:
    smaller = x
else:
    smaller = y

for i in range(1,smaller+1):
    if (x % i == 0) and (y % i == 0):
    hcf = i

print(hcf)

enter 1st number12
enter 2nd number16
4

# Problem 11: Create Short Form from initial character
# Given a string create short form ofthe string from Initial character. Short form should be capitalised. Example: Input: Data science mentorship program Output: DSMP

In [68]:
str1 = input("Provide String")
res =""
for i in str1.split():
    res+=i[0].upper()
print(res)

Provide StringData science mentorship program
DSMP

# Problem 12: Append second string in the middle of first string Input: campusx
# data
# Output: camdatapusx

In [73]:
str1 = "campusx"
str2 = "data"
res = ""
for i in range(len(str1)):
    if i == len("campusx")//2:
        res+=str2+str1[i]
    else:
        res+=str1[i]
res

'camdatapusx'

In [77]:
str1 = input("Enter your string ")
str2 = input("Enter string you want to put in middle")
res = ""
for i in range(len(str1)):
    if i == len(str1)//2:
        res+=str2+str1[i]
    else:
        res+=str1[i]
res

Enter your string Machine  Learning
Enter string you want to put in middledata

'Machine data Learning'

In [83]:
str1 = input("Enter your string ")
str2 = input("Enter string you want to put in middle")
res = ""
for i in str1:
    if i.isspace():
        res+=" "+str2+i
    else:
        res+=i
res

Enter your string Machine Learning
Enter string you want to put in middledata

'Machine data Learning'

# Problem 13:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:
str1 = PyNaTive
Expected Output:
yaivePNT

In [90]:
str1 = input("Enter your string ")
lower = ""
upper = ""
for i in str1:
    #print(i)
    if i.islower():
        lower+=i
    else:
        upper+=i
print(lower+upper)

Enter your string PyNaTive
yaivePNT

# Problem 14:Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

In [ ]:
Input: hel123O4every093
Output:
Sum: 22
Avg: 2.75

In [92]:
str1 = input("Enter String ")
count = 0
sum1 = 0
for i in str1:
    if i.isdigit():
        count+=1
        sum1+=int(i)
print(sum1)
print(sum1/count)

Enter String hel123O4every093
22
3.142857142857143

Problem 16: Check whether the string is Symmetrical.
Statement: Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

Example 1:

Input

khokho
Output

The entered string is symmetrical

In [103]:
str1 = input("Enter string ")
if len(str1)%2!=0:
    print("String is not symmetrical")
else:
    if str1[0:(len(str1)//2)] == str1[(len(str1)//2):]:
        print("Symmetrical")
    else:
        print("String is not symmetrical")

Enter string abcde
String is not symmetrical

Problem 17: Reverse words in a given String
Statement: We are given a string and we need to reverse words of a given string.

Example 1:

Input:

geeks quiz practice code
Output:

code practice quiz geeks

In [106]:
string = input("Enter string ")
" ".join(string.split()[::-1])

Enter string geeks quiz practice code

'code practice quiz geeks'

In [107]:
string = input("Enter string ")
" ".join(string.split()[::-1])

Enter string my name is laxmi

'laxmi is name my'

# Problem 18: Find uncommon words from two Strings.

# Statement: Given two sentences as strings A and B. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.
Example 1:
Input:
A = "apple banana mango" 
B = "banana fruits mango"
Output:
['apple', 'fruits']

In [115]:
A = "apple banana mango" 
B = "banana fruits mango"
Set_A = set(A.split())
Set_B = set(B.split())
list(Set_A.symmetric_difference(Set_B))

['fruits', 'apple']

In [124]:
A = "apple banana mango" 
B = "banana fruits mango"
C = []
for i in A.split():
    if i in B.split():
        continue
    else:
        C.append(i)
for i in B.split():
    if i in A.split():
        continue
    else:
        C.append(i)
C

['apple', 'fruits']

# Problem 19: Word location in String.

Statement: Find a location of a word in a given sentence.

Example 1:

Input:

Sentence: We can learn data science through campusx mentorship program.

word: campusx
Output:

Location of the word is 7.
Note- Don't use index/find functions

In [126]:
Sentence = "We can learn data science through campusx mentorship program."
word = input()
count = 0
for i in Sentence.split():
    count+=1
    if i == word:
        break
print(count)

campusx
7

# Problem 20: Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [129]:
str1 = input("Enter string")
res = ""
for i in str1:
    if i not in res:
        res+=i
    else:
        continue
res

Enter stringaaaabbbbbccccdddeeeeffff

'abcdef'