# Problem 1: Combine two lists index-wise(columns wise)
# Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

Given List:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
Output:
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]

In [3]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
[list(i)for i in list(zip(list1,list2))]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [7]:
[[list1[i],list2[i]] for i in range(len(list1))]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

# Problem 2: Add new item to list after a specified item Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
Output: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [11]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [20]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
for i in list1:
    if i == 6000:
        list1.insert(list1.index(6000)+1,7000)
    else:
        if type(i) == list:
            for j in i:
                if j == 6000:
                    i.insert(i.index(6000)+1,7000)
                else:
                    if type(j) == list:
                        for k in j:
                            if k == 6000:
                                j.insert(j.index(6000)+1,7000)
                            else:
                                if type(k) == list:
                                    for l in k:
                                        if l == 6000:
                                            k.insert(k.index(6000)+1,7000)
                                    else:
                                            print("item not found")

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [25]:
def find_and_insert(lst, target, value_to_insert):
    found = False  # Flag to check if the target is found
    
    for i in range(len(lst)):
        if lst[i] == target:
            lst.insert(i + 1, value_to_insert)
            found = True
        elif isinstance(lst[i], list):  # If the element is a nested list, recurse
            if find_and_insert(lst[i], target, value_to_insert):
                found = True

    return found

# Input list
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

# Target number and the value to insert
target = 6000
value_to_insert = 7000

# Call the function
if not find_and_insert(list1, target, value_to_insert):
    print(f"Item {target} not found in the list.")

# Print the updated list
print("Updated list:", list1)

Updated list: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [26]:
def find_and_insert(lst, target, value_to_insert):
    found = False  # Flag to check if the target is found
    
    for i in range(len(lst)):
        if lst[i] == target:
            lst.insert(i + 1, value_to_insert)
            found = True
        elif isinstance(lst[i], list):  # If the element is a nested list, recurse
            if find_and_insert(lst[i], target, value_to_insert):
                found = True

    return found

# Input list
list1 = [10, 20, [300, 400, [5000, 8000], 500], 30, 40]

# Target number and the value to insert
target = 6000
value_to_insert = 7000

# Call the function
if not find_and_insert(list1, target, value_to_insert):
    print(f"Item {target} not found in the list.")

# Print the updated list
print("Updated list:", list1)

Item 6000 not found in the list.
Updated list: [10, 20, [300, 400, [5000, 8000], 500], 30, 40]

# Problem 3: Update no of items available
# Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
Write a program to show no. of items of each candy type.

Output:

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

In [28]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
["{}-{}".format(candy_list[i],no_of_items[i]) for i in range(len(candy_list))]

['Jelly Belly-10',
 'Kit Kat-20',
 'Double Bubble-34',
 'Milky Way-74',
 'Three Musketeers-32']

In [30]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for i in range(len(candy_list)):
    print(candy_list[i],"-",no_of_items[i],sep="")

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

# Problem 4: Running Sum on list Write a program to print a list after performing running sum on it.

i.e:
Input:
list1 = [1,2,3,4,5,6]
Output:
[1,3,6,10,15,21]

In [35]:
Output = []
list1 = [1,2,3,4,5,6]
sum1 = 0
for i in list1:
    Output.append(sum1+i)
    sum1+=i
Output

[1, 3, 6, 10, 15, 21]

# Problem 5: You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself. i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,16,10,23].

For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

like wise for all other elememts.

[2,4,6,10,1]-->[22,20,16,10,23]

In [36]:
list1 = [2,4,6,10,1]
res = []
sum1 = 0
for i in list1:
    for j in list1:
        if j>=i:
            sum1+=j
        else:
            continue
    res.append(sum1)
    sum1 = 0
res

[22, 20, 16, 10, 23]

# Problem 6: Find list of common unique items from two list. and show in increasing order

Input
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
Output: [34, 67, 89]

In [52]:
num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]
output = sorted([i for i in num1 if i in num2])
output

[34, 67, 67, 89]

In [54]:
num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]
output = []
for i in num1:
    if i in num2:
        if i not in output:
            output.append(i)
sorted(output)

[34, 67, 89]

# Problem 7: Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

Input:
['1ac21', '23fg', '456', '098d','1','kls']
Output:
['456', '23fg', '1ac21', '1', 'kls', '098d']

In [74]:
Input = ['1ac21', '23fg', '456', '098d','1','kls']
product = []
res = []
for i in Input:
    if i.isalnum():
        prod = 1
        for j in i:
            if j.isdigit():
                prod*= int(j)
            else:
                continue
    else:
        prod = 1
    product.append(prod)
product

[2, 6, 120, 0, 1, 1]

In [81]:
Input = ['1ac21', '23fg', '456', '098d','1','kls']
product = []

for i in Input:
    prod = 1
    for j in i:
        if j.isdigit():
            prod*= int(j)
    product.append(prod)
    
#print(product)
[i[1] for i in sorted(list(zip(product,Input)),reverse=True)]

['456', '23fg', '1ac21', 'kls', '1', '098d']

# Problem 8: Split String of list on K character.

Example :
Input: ['CampusX is a channel', 'for data-science', 'aspirants.']
Output: ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [90]:
Input = ['CampusX is a channel', 'for data-science', 'aspirants.']
l1 = []
for i in Input:
    l1+= i.split()
l1

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [95]:
Input = ['CampusX is a channel', 'for data-science', 'aspirants.']
l1 = []
inp = " "
for i in Input:
    l1.extend(i.split(inp))
l1

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

# Problem 9: Convert Character Matrix to single String using string comprehension.

Example 1:
Input: [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
Output: campux is best channel

In [101]:
str_list = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
str_combine = ["".join(i) for i in str_list]
print(" ".join(str_combine))

campux is best channel

# Problem 10: Add Space between Potential Words.

Example:
Input: ['campusxIs', 'bestFor', 'dataScientist']
Output: ['campusx Is', 'best For', 'data Scientist']

In [104]:
Input = ['campusxIs', 'bestFor', 'dataScientist']
Output = []
for i in Input:
    res = ""
    for j in i:
        if j.isupper():
            res+=" " + j
        else:
            res+=j
    Output.append(res)
Output

['campusx Is', 'best For', 'data Scientist']

# Problem 11: Write a program that can perform union operation on 2 lists

Input:
[1,2,3,4,5,1]
[2,3,5,7,8]

Output:
[1,2,3,4,5,7,8]

In [123]:
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
l3 = []
for i in l1:
    if i not in l3:
        l3.append(i)
for j in l2:
    if j not in l3:
        l3.append(j)
l3

[1, 2, 3, 4, 5, 7, 8]

In [124]:
set1 = set(l1)
set1.update(l2)
list(set1)

[1, 2, 3, 4, 5, 7, 8]

# Problem 12: Write a program that can find the max number of each row of a matrix

In [ ]:
Example:
Input: [[1,2,3],[4,5,6],[7,8,9]]
Output: [3,6,9]

In [133]:
l1 = [[1,2,3],[4,5,6],[7,8,9]]
l2 = [max(i) for i in l1 ]
l2

[3, 6, 9]

# Problem 13: Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [152]:
[[i*3+j for j in range(0,3)]for i in range(0,3)] # 0 1 2

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

# Problem 14: Write a list comprehension that can transpose a given matrix

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
Output :
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [159]:
matrix = [ [1,2,3], [4,5,6], [7,8,9]]
[list(i) for i in list(zip(matrix[0],matrix[1],matrix[2]))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [160]:
[[row[i]for row in matrix]for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# Problem 15: Write a list comprehension that can flatten a nested list

Input
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

Output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
[j for i in matrix for j in i ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]